<!DOCTYPE html>
<html lang="ja">
    
<head>
    <meta http-equiv="content-type" content="text/html;" charset="UTF-8">
    <title><%=title %></title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/stylesheets/sanitize.css">
    <link rel="stylesheet" href='/stylesheets/top.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet"> 
</head>

<body class="container">

    <header>
        <h1 class="display-4"><%=title %></h1>
        <h2 class="display-4"><%=title2 %></h2>
    </header>
    <div role="main">
      <div class="members">
        <div class="member tanaka">
          <h1><%=tanakaName %></h1>
          <p><%=tanakaText %></p>
        </div>
        <div class="member nakamura">
          <h1><%=nakamuraName %></h1>
          <p><%=nakamuraText %></p>
        </div>
        <div class="member sato">
          <h1><%=satoName %></h1>
          <p><%=satoText %></p>
        </div>
      </div>
    </div>
    <footer>
      <p class="mt-4"><a href="/timeKiller">&lt;&lt; Top へ戻る</a></p>
    </footer>

<!-- ハンバーガーメニュー -->
<script>
  const open = document.querySelector("#open");
  const close = document.querySelector("#close");
  const g_menu = document.querySelector("#g_menu");
  //メニューを出す
  open.addEventListener('click', function() {
    g_menu.classList.add('inside');
    g_menu.classList.remove('outside');
  }, false);
  //メニューを隠す
  close.addEventListener('click', function() {
    g_menu.classList.remove('inside');
    g_menu.classList.add('outside');
  }, false);
</script>

</body>

</html>