<% for(let pl=0; pl<mc; pl++) {%>
    <% if(val[pl].flag==1) { %>
    <li class="menu">
        <div class="form-group">
            <input type="checkbox" name="<%= pl %>" checked class="checks">
            <label for="<%= pl %>"><%= val[pl].masterPlaylists[0].genreName %></label>
        </div>
    </li>
    <% } else { %>
    <li class="menu">
        <div class="form-group">
            <input type="checkbox" name="<%= pl %>" class="checks">
            <label for="<%= pl %>"><%= val[pl].masterPlaylists[0].genreName %></label>
        </div>
    </li>
    <% } %>
<% } %>